@import "partials/variables";
@import "partials/base";

body {
  background: darken(white, 3%);
  font-family: $FontStack;
  margin: 0;
  padding: 0;
}

@import "partials/layout";
@import "partials/colors";
@import "partials/tables";
@import "partials/header";
@import "partials/forms";
@import "partials/page-specific";

.navigation {
  z-index:0;
}

a.breadcrumbs:link {color:#1272B9; text-decoration:none;}      /* unvisited link */
a.breadcrumbs:visited {color:#1272B9; text-decoration:none;}  /* visited link */
a.breadcrumbs:hover {color:#1272B9; text-decoration:none;}  /* mouse over link */
a.breadcrumbs:active {color:#1272B9; text-decoration:none;}  /* selected link */

a#forgot:link {color:#E2E3E3; text-decoration:none;}      /* unvisited link */
a#forgot:visited {color:#E2E3E3; text-decoration:none;}  /* visited link */
a#forgot:hover {color:#83B6FE; text-decoration:none;}  /* mouse over link */
a#forgot:active {color:#E2E3E3; text-decoration:none;}  /* selected link */

#forgot{
  position:relative;
  top:-15px;
}

a#back:link {color:#398EE6; text-decoration:none;}      /* unvisited link */
a#back:visited {color:#398EE6; text-decoration:none;}  /* visited link */
a#back:hover {color:#E2E3E3; text-decoration:none;}  /* mouse over link */
a#back:active {color:#398EE6; text-decoration:none;}  /* selected link */

.error{
  position:relative;
  top:-35px;
  left:260px;
  height:20px;
  color: #FF0000;
}


/*NAV BAR ATTEMPT*/
#navigation{
  width:100%;
  height:60px;
}

#positionNAV{
  margin:auto;
  width: 82%;
  position:relative;
  left:0%;
}

#index, #index div,
#about, #about div,
#employers , #employers div,
#login, #login div,
#rate,  #rate div,
#discuss, #discuss div,
#admin, #admin div {
  height:80px;
  position:absolute;
  width:70px;
  float:left;
}

#index, #about, #employers, #login, #rate, #discuss, #admin{
  background-image: image-url("nav.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  top:70px;
}

#index{
  background-position: 0px -25px;
  margin-left:6px;
}

#about{
  background-position: -70px -25px;
  margin-left:77px;
}

#employers{
  background-position: -140px -25px;
  margin-left:148px;
}

#login{
  background-position: -210px -25px;
  margin-left:219px;
}

#rate{
  background-position: -280px -25px;
  margin-left:290px;
}

#discuss{
  background-position: -350px -25px;
  margin-left:361px;
}

#admin{
  background-position: -420px -25px;
  margin-left:432px;
}

.pri-nav a{
  display:block;
  text-decoration:none;
  text-indent:-30000px;
}

.content{
  margin-top:160px;
}

#content-title{
  background: image-url("content-title.png") no-repeat scroll;
  height:323px;
  position:absolute;
  width:100%;
}


/* Let's import the lovely google font, please keep this line at the top of your stylesheet */

@import url(http://fonts.googleapis.com/css?family=Capriola);

a.loginBAR:link {color:#E2E3E3; text-decoration:none;}      /* unvisited link */
a.loginBAR:visited {color:#E2E3E3; text-decoration:none;}  /* visited link */
a.loginBAR:hover {color:#83B6FE; text-decoration:none;}  /* mouse over link */
a.loginBAR:active {color:#E2E3E3; text-decoration:none;}  /* selected link */

.padding a:link {color:#1272B9; text-decoration:none;}      /* unvisited link */
.padding a:visited {color:#1272B9; text-decoration:none;}  /* visited link */
.padding a:hover {color:#B2B2D3; text-decoration:none;}  /* mouse over link */
.padding a:active {color:#283891; text-decoration:none;}  /* selected link */

.CENTERED{
  position:static;
  width:100%;
  margin:20px;
  padding-bottom:20px;
  text-align:left;
}

textarea{
  width:600px;
  height:120px;
  font-family:"Helvetica Neue", Helvetica;
}

.adminBUTTON {
  margin: 20px;
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -moz-border-radius:26px;
  -webkit-border-radius:26px;
  border-radius:26px;
  border:3px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:10px;
  font-weight:bold;
  padding:10px 16px;
  text-decoration:none;
}.adminBUTTON:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}.adminBUTTON:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */





.adminMAINbuttons{
  text-align:left;
  width:100%;
}
