@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  src: local('Capriola Regular'), local('Capriola-Regular'), url(http://themes.googleusercontent.com/static/fonts/capriola/v1/uuDFYyWaIr7gMYVZu_PK5XYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 100%;
  color: #3A444D;
}

h4 {
  font-size: 90%;
}

